build/*
assets/*
*.sublime-workspace
pJotoro
LegacyFantasy
level
TODO.txt
TODO_old.txt
libraries/SDL3/include/SDL2/*
libraries/SDL3/bin
libraries/SDL3/commits.txt
libraries/SDL3/lib/SDL2.lib
libraries/SDL3/lib/SDL2main.lib
profile/*
code/main.cpp
captures/*.rdc